@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	background-color: black;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
}

.main-header {
	font-family: "Montserrat", sans-serif;
}
